// Solid
.mc-arrow {
  border: 14px solid transparent;
  overflow: hidden;
  text-indent: -100%;
  z-index: 100;
  -webkit-transition: border 150ms ease;
          transition: border 150ms ease;

  // Directions
  &.mc-arrow-right {
    border-left:  14px solid $mc-color-accent-primary;
    border-right: 0;
    width: 14px; height: 28px;

    &:hover { border-left: 14px solid $mc-color-accent-primary-hover; }
  }

  &.mc-arrow-left  {
    border-right: 14px solid $mc-color-accent-primary;
    border-left: 0;
    width: 14px; height: 28px;

    &:hover { border-right: 14px solid $mc-color-accent-primary-hover; }
  }
}


// Thin style
.mc-arrow-thin-red {
  display: inline-block;
  vertical-align: middle;
  width: 7px; height: 11px;
  background: transparent center/contain no-repeat;

  &.mc-arrow-thin-red--right {
    background-image: asset-url("global/arrows/caret/arrow-red-right.svg");
  }

  &.mc-arrow-thin-red--down {
    background-image: asset-url("global/arrows/caret/arrow-red-down.svg");
  }

  &.mc-arrow-thin-red--left {
    background-image: asset-url("global/arrows/caret/arrow-red-left.svg");
  }
}

// White arrows (thin)
.mc-arrow-thin-white {
  display: inline-block;
  vertical-align: middle;
  width: 13px; height: 6px;
  background: transparent center/100% auto no-repeat;

  &--down {
    background-image: asset-url("global/arrows/caret/arrow-white-down.svg");
  }

  &--left {
    background-image: asset-url("global/arrows/caret/arrow-white-down.svg");
    transform: rotate(90deg);
  }
}
