.mc-badge {
    display: inline-block;
    vertical-align: middle;
    background: $mc-color-accent-primary;
    font-size: 12px;
    line-height: 1;
    letter-spacing: .083333em;
    color: #fff;
    padding: 0.286em 0.454em;
    border-radius: 3px;
}
