.mc-btn {
  background: $mc-color-accent-primary;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.55em;
  padding: 10px 20px;
  border: 0;
  border-radius: 2px;
  letter-spacing: 0.05em;
  color: $mc-color-text-link;
  transition: background 250ms ease, color 250ms ease, border 250ms ease;

  &:hover,
  &:focus {
    background: $mc-color-accent-primary-hover;
    color: $mc-color-text-link;
    text-decoration: none;
  }

  // Spacing
  &.no-margins {
    margin: 0;
  }

  // Transparent (on black bg)
  &.mc-btn-transparent {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    // Inverted transparent (on white bg)
    &.invert {
      background: rgba(0, 0, 0, 0);
      border: 1px solid rgba($mc-color-neutral, 0.2);
      color: rgba(0, 0, 0, 0.6);

      &:hover {
        border: 1px solid rgba($mc-color-neutral, 0.5);
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  // Neutral
  &.neutral {
    background: #292929;

    &:hover {
      background: #303131;
    }
  }

  // Facebook
  &.login-with-facebook,
  &.facebook,
  &.signup_fb {
    background: #3A5998;
    margin: 1em 0 0.5em;
    text-transform: none;

    &:hover {
      color: #fff;
      background: #4971C2;
    }

    .mc-icon-facebook {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.1em;
      margin: -0.1em 1em 0 0;
    }
  }
}