.mc-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 209px;
  margin: 0;
  padding: 16px;
  background-color: $mc-color-accent-primary;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background 300ms ease, border 300ms ease;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: $mc-color-accent-primary-hover;
  }

  &:focus {
    outline: 0;
  }

  &--small {
    padding: 8px 16px;
    min-width: 119px;
  }

  &--has-icon {
    min-width: 254px;
    padding: 12px 28px;
  }

  &--large {
    min-width: 278px;
    padding: 16px 28px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  &--secondary {
    background-color: #333333;

    &:hover {
      background-color: #444444;
    }
  }

  &--outline {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &--outline-light {
    background-color: transparent;
    color: #4d5767;
    border-color: #949aa4;

    &:active,
    &:focus {
      color: #4d5767;
    }

    &:hover {
      background-color: transparent;
      color: #4d5767;
      border-color: #4d5767;
    }
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    margin-right: 19px;
  }
}
