@keyframes mcAnimateFadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin mc-animate-fade-in {
  animation-name: mcAnimateFadeIn;
  animation-duration: 350ms;
  animation-iteration-count: once;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

// Override bootstrap
.mc-breadcrumb a,
.mc-breadcrumb a:hover,
.mc-breadcrumb a:focus,
.mc-header__login-link,
.mc-header__login-link:hover,
.mc-header__login-link:focus {
  color: #fff;
  text-decoration: none;
}

// Fix the body when nav is active
.mobile-nav-active {
  position: fixed;
  overflow: hidden;

  // And the sign out link
  .mc-header__sign-out { display: block; }
}

.mc-header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  background: #000;
  @include clearfix();
  transition: background $mc-condensed-ease-timing ease;
  z-index: 120;  // modals are 130, one step below.

  // Overwrite core
  .mc-container { padding: 0; }

  // Sign out link
  &__sign-out {
    display: none;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255,255,255,0.5);
    padding: 32px 16px;
    z-index: 120;
  }

  // Inner wrapper
  &__inner {
    position: relative;
    max-width: $mc-bp-large;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    transform: translate3d(0,0 ,0); // fix "jump"
    @include clearfix();
    z-index: 20;
  }

  // Always hide primary logo and
  // breadcrumbs on mobile
  &__logo,
  .mc-breadcrumb { display: none;  }

  // Primary logo
  &__wordmark {
    display: block;
    margin: 0 auto;
    width: 129px;
    height: 14px;
  }

  &__login-link {
    float: right;
    font-size: 13px;
    letter-spacing: 1.3px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -0.5em;
      left: auto;
      width: 0;
      height: 2px;
      background: $mc-color-accent-primary;
      transition: width 250ms ease;
    }
  }

  @at-root .no-touch .mc-header__login-link {
    &:hover {
      &:after {
        left: 0; right: auto;
        width: 100%;
      }
    }
  }

  // ****************
  // Logged out state
  // ****************
  &.logged-out {
    .mc-header {
      &__wordmark { float: left; }

      &__inner { padding: 17px; }
    }
  }


  // ********
  // Nav open
  // ********
  &.nav-open {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    // Show the nav
    .mc-nav-items {
      display: block;
      margin-top: 1em;
    }
  }

  .mobile-only {
    .avatar { margin-right: 1em; }
  }

  .desktop-only {
    .avatar { margin-left: 1em; }
  }

  .comment-content {
    display: block;
    position: relative;
    padding-left: calc(1em + 45px);

    .chapter-marker { margin-bottom: 0.5em; }

    .user {
      font-weight: bold;
      margin-right: 0.25em;
      color: #fff;
    }

    .timestamp {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 1em;
      color: rgba(#fff, 0.5);
    }
  }
}

@media (min-width: $mc-bp-small) {
  // If you open the mobile nav and then resize
  // to desktop, these are overrides to get you
  // back to a clean state.
  .mobile-nav-active {
    position: static;
    overflow: auto;

    .mc-header__sign-out { display: none; }
  }


  .mc-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    background-size: 100% 140px;
    background-position: 0 -50px;
    max-height: 90px;
    transition:
      background $mc-condensed-ease-timing ease,
      max-height $mc-condensed-ease-timing ease;

    // Solid black for when "condensed"
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      display: block;
      width: 100%; height: 100%;
      background: #000;
      opacity: 0;
      transition: opacity 0ms 0ms;
    }

    &__logo {
      display: block;
      width: 124px; height: 56px;
      margin: 0 auto;
      transition:
        transform $mc-condensed-ease-timing ease;

      img { width: 100%; height: auto; }
    }

    &__wordmark {
      margin: 0 auto;
      float: none;
    }

    &__login-link {
      position: absolute;
      top: 9px; right: 10px;
      float: none;
    }

    .mc-breadcrumb {
      display: block;
      position: absolute;
      top: 11px; left: 10px;
      display: block;
      font-size: 0.75em;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.0833em;

      &:before {
        content: "<";
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: $mc-color-accent-primary;
      }
    }

    // ****************
    // Logged out state
    // ****************
    &.logged-out {
      .mc-header__inner {
        padding: 17px;
      }
    }

    // Condensed state
    &.condensed {
      max-height: 34px;
      background-position: 0 0;

      &:before {
        opacity: 1;
        transition: opacity 0ms $mc-condensed-ease-timing;
      }

      .mc-container {
        // Sticky nav needs a black background on nav
        // items so it can go "behind"
        &:not(.cm-sticky-ctas) {
          background: #000;
          transition: background 0ms 450ms ease;
        }
      }

      #logo-primary {
        transform: translate(0, -50px);
        transition: transform $mc-condensed-ease-timing ease;
      }
    }
  }


  .mc-nav-class-link {
    position: absolute;
    top: 11px; left: 8px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;

    .mc-arrow-thin-red--left { margin-right: 15px; }
    .mc-arrow-thin-red--right { margin: 0px 15px 0px; }

    // Breadcrumb style
    &.breadcrumbs {
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      a {
        color: rgba(255, 255, 255, 1);
        transition: color 250ms ease;

        &:hover {
          color: rgba(255, 255, 255, 0.75);
        }
      }

      .instructor-name { color: white; }
    }
  }

  // Header switches from mobile to desktop here
  .mc-header {
    // no padding needed on desktop
    &.logged-out {
      padding: 0;

      #logo-wordmark { display: none; }
    }

    // Fix for if the user goes to dekstop from mobile
    // while the mobile nav is open
    &.nav-open {
      overflow: visible;

      .mc-nav-items {
        margin-top: 0;
      }
    }

    .mc-nav-items {
      display: block;
      position: absolute;
      top: 0.45em; right: 0.5em;
      overflow: visible;

      .mc-nav-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.4em;

        &.comments {
          .comments-dropdown {
            display: block;

            &.unread:after {
              content: "";
              position: absolute;
              top: 0.8em; right: -0.1em;
              display: block;
              width: 6px; height: 6px;
              background: $mc-color-accent-primary;
              border-radius: 6px;
            }
          }

          .mc-subnav-item {
            .comment { color: rgba($mc-color-neutral, 0.8); }
          }
        }

        &.cart { padding: 0; }
      }
    }

    .mc-subnav-items {
      position: absolute;
      top: 3.5em; right: -16px;
      margin-top: 0;
      width: 350px;
      background: #fff;
      color: $mc-color-neutral;
      opacity: 0;
      visibility: hidden;

      // Drop down arrow
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -30px;
        right: 10px;
        height: 15px;
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
      }

      // Needed to keep nav open as you mouse
      // between the main parent nav item and the
      // subnav menu.  Without this, frustrating UX!
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 24px;
        background: none;
      }
    }

    .mc-subnav-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &:first-child { border-top: 0; }

      a {
        color: rgba($mc-color-neutral, 0.8);
        transition: color 150ms ease;
      }

      .mc-btn.clear {
        color: $mc-color-neutral;
        border: 1px solid rgba(0,0,0, 0.5);
        margin-bottom: 0;
        transition: border 250ms ease, color 250ms ease;

        &:hover {
          color: rgba($mc-color-neutral,0.8);
          border: 1px solid rgba(0,0,0, 0.25);
        }
      }
    }

    .comment-content {
      .user { color: rgba($mc-color-neutral, 1); }
      .timestamp { color: rgba($mc-color-neutral, 0.5); }
    }
  }
}

@media (min-width: $mc-bp-medium) {
  #mc-header {
    .class-switcher li { margin-right: 4em; }
  }
}
