$mc-header-condensed-height: 34px;
$mc-header-condensed-height-mobile: 48px;

@keyframes mcAnimateFadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin mc-animate-fade-in {
  animation-name: mcAnimateFadeIn;
  animation-duration: 350ms;
  animation-iteration-count: once;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

// Override bootstrap
.mc-breadcrumb a,
.mc-breadcrumb a:hover,
.mc-breadcrumb a:focus,
.mc-header__login-link,
.mc-header__login-link:hover,
.mc-header__login-link:focus {
  color: #fff;
  text-decoration: none;
}

// Fix the body when nav is active
.mobile-nav-active {
  position: fixed;
  overflow: hidden;

  // And the sign out link
  .mc-header__sign-out { display: block; }
}

.mc-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 120;  // modals are 130, one step below.

  // condensed background
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
  }

  // sits above header to hide elements
  // above the page (subnavs etc)
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    top: -300px;
    background: #000000;
    z-index: 9999;
  }

  // Overwrite core
  .mc-container { padding: 0; }

  &__sign-out {
    display: none;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.5);
    padding: 32px 16px;
    z-index: 120;
  }

  &__inner {
    position: relative;
    padding: 11px 10px;
    text-transform: uppercase;
    max-width: $mc-bp-large;
    margin: 0 auto;
  }

  &__dropdowns {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 130;
  }

  &__right-col {
    display: flex;
    height: $mc-header-condensed-height;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 0 10px;
  }

  // Always hide primary logo and
  // breadcrumbs on mobile
  &__logo,
  .mc-breadcrumb { display: none;  }

  // Primary logo
  &__wordmark {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
    width: 124px;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  &__login-link {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.6;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -0.5em;
      left: auto;
      width: 0;
      height: 2px;
      background: $mc-color-accent-primary;
      transition: width 250ms ease;
    }
  }

  // ****************
  // Logged out state
  // ****************
  &.logged-out {
    .mc-header__wordmark { margin: 0; }
    .mc-header__inner { padding: 17px 17px 18px; }
    .mc-header__right-col {
      left: auto;
      height: $mc-header-condensed-height-mobile;
      padding: 7px 17px 0;
    }
  }

  .mobile-only {
    .avatar { margin-right: 1em; }
  }

  .desktop-only {
    .avatar { margin-left: 1em; }
  }

  .comment-content {
    display: block;
    position: relative;
    padding-left: calc(1em + 45px);

    .chapter-marker { margin-bottom: 0.5em; }

    .user {
      font-weight: bold;
      margin-right: 0.25em;
      color: #fff;
    }

    .timestamp {
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 1em;
      color: rgba(#fff, 0.5);
    }
  }
}

@media (min-width: $mc-bp-small) {
  // If you open the mobile nav and then resize
  // to desktop, these are overrides to get you
  // back to a clean state.
  .mobile-nav-active {
    position: static;
    overflow: auto;

    .mc-header__sign-out { display: none; }
  }


  .mc-header {
    max-height: 90px;
    transition:
      background $mc-condensed-ease-timing,
      max-height $mc-condensed-ease-timing;

    &__right-col {
      left: auto;
      padding: 0 10px;
      height: $mc-header-condensed-height;
    }

    &__dropdowns {
      z-index: auto;
    }

    &__logo {
      position: relative;
      display: block;
      width: 124px; height: 56px;
      margin: 0 auto;
      transition: margin $mc-condensed-ease-timing;

      img { width: 100%; height: auto; }
    }

    &__wordmark {
      margin: 0 auto;
      float: none;
    }

    .mc-breadcrumb {
      display: block;
      position: absolute;
      top: 11px; left: 10px;
      display: block;
      font-size: 0.75em;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.0833em;

      &:before {
        content: "<";
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: $mc-color-accent-primary;
      }
    }

    @at-root .no-touch .mc-header__login-link {
      &:hover {
        &:after {
          left: 0; right: auto;
          width: 100%;
        }
      }
    }

    // ****************
    // Logged out state
    // ****************
    &.logged-out {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background-repeat: repeat-x;
      background-position: 0 -50px;

      .mc-header__inner {
        padding: 11px 10px;
      }
      .mc-header__right-col {
        padding: 0 10px;
      }
      &:before {
        opacity: 0;
        transition: opacity $mc-condensed-ease-timing;
      }
    }

    &.condensed {
      max-height: $mc-header-condensed-height;

      &:before {
        opacity: 1;
      }

      .mc-container {
        // Sticky nav needs a black background on nav
        // items so it can go "behind"
        &:not(.cm-sticky-ctas) {
          background: #000;
          transition: background 0ms 450ms ease;
        }
      }

      #logo-primary {
        margin-top: -44px;
        transition: margin $mc-condensed-ease-timing;
      }
    }
  }

  .mc-nav-class-link {
    position: absolute;
    top: 8px; left: 8px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;

    .mc-arrow-thin-red--left { margin-right: 7px; }
    .mc-arrow-thin-red--right { margin: 0 7px; }

    // Breadcrumb style
    &.breadcrumbs {
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      a {
        color: rgba(255, 255, 255, 1);
        transition: color 250ms ease;

        &:hover {
          color: rgba(255, 255, 255, 0.75);
        }
      }

      .instructor-name { color: white; }
    }
  }

  // Header switches from mobile to desktop here
  .mc-header {
    // no padding needed on desktop
    &.logged-out {
      padding: 0;

      #logo-wordmark { display: none; }
    }

    // Fix for if the user goes to dekstop from mobile
    // while the mobile nav is open
    &.nav-open {
      overflow: visible;

      .mc-nav-items {
        margin-top: 0;
      }
    }

    .mc-nav-items {
      display: block;
      position: absolute;
      top: 0.45em; right: 0.5em;
      overflow: visible;

      .mc-nav-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.4em;

        &.comments {
          .comments-dropdown {
            display: block;

            &.unread:after {
              content: "";
              position: absolute;
              top: 0.8em; right: -0.1em;
              display: block;
              width: 6px; height: 6px;
              background: $mc-color-accent-primary;
              border-radius: 6px;
            }
          }

          .mc-subnav-item {
            .comment { color: rgba($mc-color-neutral, 0.8); }
          }
        }

        &.cart { padding: 0; }
      }
    }

    .mc-subnav-items {
      position: absolute;
      top: 3.5em; right: -16px;
      margin-top: 0;
      width: 350px;
      background: #fff;
      color: $mc-color-neutral;
      opacity: 0;
      visibility: hidden;

      // Drop down arrow
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -30px;
        right: 10px;
        height: 15px;
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
      }

      // Needed to keep nav open as you mouse
      // between the main parent nav item and the
      // subnav menu.  Without this, frustrating UX!
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 24px;
        background: none;
      }
    }

    .mc-subnav-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &:first-child { border-top: 0; }

      a {
        color: rgba($mc-color-neutral, 0.8);
        transition: color 150ms ease;
      }

      .mc-btn.clear {
        color: $mc-color-neutral;
        border: 1px solid rgba(0,0,0, 0.5);
        margin-bottom: 0;
        transition: border 250ms ease, color 250ms ease;

        &:hover {
          color: rgba($mc-color-neutral,0.8);
          border: 1px solid rgba(0,0,0, 0.25);
        }
      }
    }

    .comment-content {
      .user { color: rgba($mc-color-neutral, 1); }
      .timestamp { color: rgba($mc-color-neutral, 0.5); }
    }
  }
}

@media (min-width: $mc-bp-medium) {
  #mc-header {
    .class-switcher li { margin-right: 4em; }
  }
}
