// Login styles
.mc-modal.login {
  .or {
    position: relative;
    margin: 0 0 0.4em 0;
    text-align: center;
    color: rgba($mc-color-neutral, 0.8);
    text-transform: uppercase;

    &:before {
      content: "";
      position: absolute;
      top: 50%; left: 0;
      width: 100%;
      height: 1px;
      background: rgba($mc-color-neutral, 0.2);
      z-index: -1;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      padding: 0.5em 1em;
      background: #fff;
    }
  }

  button {
    // Override button styles first
    display: block;
    cursor: pointer;
    font-family: $mc-font-default;
    border: 0;
    border-radius: 3px;
    color: #fff;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 0.035em;
    padding: 1.05em 0.5em;
    transition: background 200ms ease;
  }

  .modal-subtext {
    font-size: 0.9333em;
    text-align: center;
    color: rgba($mc-color-neutral, 0.6);

    &.existing-fb {
      margin-bottom: 20px;
    }
  }

  .mc-modal-submit {
    margin: 0.75em 0 0;
    background: $mc-color-accent-primary;
    text-transform: uppercase;

    &:hover {
      background: $mc-color-accent-primary-hover;
    }
  }

  .button_desc {
    width: 100%;
    font-size: 0.933em;
    margin-top: 0.8em;
    text-align: center;
    color: $mc-color-neutral;

    a {
      color: $mc-color-accent-primary;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0);
      transition: box-shadow 150ms ease;

      &:hover {
        box-shadow: 0 1px 0 $mc-color-accent-primary;
      }
    }
  }

  input {
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0.7em 0.5em;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    box-shadow: none;
    appearance: none;
    transition: border 150ms ease;

    &#sign-in-password { margin-bottom: 0; }

    &:focus {
      outline: none;
      border: 1px solid rgba($mc-color-neutral, 1);
    }

    &.error { border: 1px solid rgba($mc-color-accent-primary, 0.6); }
  }

  // Label error
  label.error {
    display: block;
    color: rgba($mc-color-accent-primary, 0.6);
    margin: 0 0 0.5em;
  }

  #sign-in-forgot-password {
    margin: 0.3em 0 0;
    text-align: right;
    font-size: 0.9333em;

    .forgot {
      color: rgba($mc-color-neutral, 0.6);

      &:hover {
        color: rgba($mc-color-neutral, 0.8);
      }
    }
  }
}
