// Extended modal styles
@import 'modal--login';
@import 'modal--chromeless';
@import 'modal--full';

// Modal container
// (for overlay + dialog)
.mc-modal {
  position: fixed;
  top: 0; left: 0;
  width: 0; height: 0;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 130;

  // Overlay
  &:before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    max-width: 0; max-height: 0;
    background: rgba(0, 0, 0, 0);

    // Fade out overlay transition
    transition:
      background 200ms ease,
      max-width 0ms 200ms,
      max-height 0ms 200ms;
  }
}

// The modal "box"
.mc-modal-dialog {
  position: absolute;
  top: 50%; left: 50%;
  width: 450px; height: auto;
  padding: 1.6em 2.4em;
  background: #fff;
  opacity: 0;
  box-shadow: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  transform: translate(-50%, calc(-50% + 10px));

  // Animate out
  transition: none;
  transition-delay: 0ms;

  // Modal "too big"
  &--scroll {
    top: 2em;
    transform: translate(-50%, 10px);
  }
}

.mc-modal-close {
  position: absolute;
  top: 1em; right: 1em;
  width: 2em; height: 2em;
  background: asset-url("global/modal-close.svg") center no-repeat;
  opacity: 0.2;
  z-index: 1;
  transition: opacity 150ms ease;
  -webkit-backface-visibility: hidden;

  &:hover { opacity: 0.4; }
}

.mc-modal-title {
  text-align: center;
  font-size: 1.33em;
  margin-bottom: 1.25em;
  color: $mc-color-neutral;
}


// *************
// Active states
// *************

// body class to prevent page scrolling
.modal-active {
  position: fixed;
  overflow: hidden;
  width: 100%; height: 100%;

  // Fade in the "overlay"
  .mc-modal:before {
    background: rgba(0, 0, 0, 0.8);
    max-width: 100%; max-height: 100%;
    transition:
      background 200ms ease,
      max-width 0ms 0ms,
      max-height 0ms 0ms;
  }

  // Blurred background style
  &.modal-blur {
    // Needs diff opacity for bg on blurred mode
    &:before { background: rgba(0, 0, 0, 0.2); }

    > *:not(.mc-modal) {
      filter: blur(5px);
      // Force GPU
      backface-visibility: hidden;
      perspective: 1000;
      transition: filter 300ms ease;
    }

    // Password manager fix!
    > div:last-of-type,
    #lpformframesign-in-email,
    > iframe:last-of-type {
      filter: blur(0);
    }
  }

  // Full active doesn't need to be vertically centered
  .mc-modal.full {
    .mc-modal-dialog { transform: translate(-50%, 0%); }
  }
}

// On the modal wrapper:
.mc-modal.visible {
  width: 100%; height: 100%;
  visibility: visible;
  opacity: 1;

  // Actual modal "box"
  .mc-modal-dialog {
    max-width: calc(100% - 4em);
    transform: translate(-50%, -50%);
    opacity: 1;

    // Animate in!
    transition:
      transform 300ms ease 450ms,
      opacity 200ms ease 450ms;

    &--scroll { transform: translate(-50%, 0); }
  }
}

@media (min-width: $mc-bp-medium) {
  .mc-modal { font-size: 15px; }
}
