.socials-wrapper {
  font-size: 15px;
  padding: 2.75em 1em 3em;
  text-align: center;

  .section-title {
    font-size: .933em;
    margin-bottom: 2.3em;
    text-transform: uppercase;
    color: rgba(#fff, 0.3);
  }
}

.mc-socials {
  .mc-social {
    display: inline-block;
    margin: 0 1em 1em;
    vertical-align: middle;

    &:hover {
      a {
        color: #fff;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

        &:after { border-color: #fff; }
      }
    }

    a {
      display: block;
      position: relative;
      color: rgba(#fff, 0.5);
      font-size: 1.5em;
      padding: 0.5em;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        width: 2.15em; height: 2.15em;
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        transition: border 150ms ease, text-shadow 150ms ease;
      }
    }
  }
}

@media (min-width: $mc-bp-tiny) {
  .socials-wrapper {
    font-size: 18px;
  }
}


// Social font
@font-face {
  font-family: 'mc-socials';
  src:  asset-url('mc-icons/mc-socials/mc-socials.eot?qzecmk');
  src:  asset-url('mc-icons/mc-socials/mc-socials.eot?qzecmk#iefix') format('embedded-opentype'),
    asset-url('mc-icons/mc-socials/mc-socials.ttf?qzecmk') format('truetype'),
    asset-url('mc-icons/mc-socials/mc-socials.woff?qzecmk') format('woff'),
    asset-url('mc-icons/mc-socials/mc-socials.svg?qzecmk#mc-socials') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mc-icon-"], [class*=" mc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mc-socials' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-icon-facebook:before {
  content: "\e900";
}
.mc-icon-mail:before {
  content: "\e901";
}
.mc-icon-twitter:before {
  content: "\e902";
}
