@keyframes mcAnimateFadeIn {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }


 @mixin mc-animate-fade-in {
   animation-name: mcAnimateFadeIn;
   animation-duration: 350ms;
   animation-iteration-count: once;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
 }

#mc-header.version-two {
  background: black;
  transition: none;
  min-height: 0;
  padding: 0;
  z-index: 122; // mc-modal is indexed at 123

  #mobile-nav-button {
    top: 4px;
    transform: none;
  }

  // Should probably move this inline to each element
  &.nav-open {
    .student-info-block {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      opacity: 0;
      @include mc-animate-fade-in();
    }

    #user-info-container {
      max-height: calc(100vh - 139px);
      overflow: visible;
      cursor: pointer;
    }

    .user-info-dropdown-items {
      transform: translateY(0);

       .user-info-dropdown-item {
        opacity: 0;
        @include mc-animate-fade-in();

        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            animation-delay: #{$i} * 100ms;
          }
        }
      }
    }

    .mc-explore-subnav {
      display: none;
    }
  }

  .mc-container { padding: 0; }

  // Sticky "take this class"
  // ...might not be needed
  #cm-scrolling-cta.active { top: 77px; }

  .mc-arrow-thin-white--down {
    transition: transform 350ms ease;
  }

  #logo-wordmark {
    margin: 10px auto;

    img { display: block; }
  }

  // Wrapper for the student info section
  // and dropdown items
  .student-info-blurb {
    padding: 23px;
    @include clearfix();
  }

  .student-info-block {
    display: none;
    text-align: left;

    .avatar {
      display: block;
      float: left;
      margin: 0 20px 0 0;
      width: 58px;
      height: 58px;
      border-radius: 58px;
    }

    .username {
      font-size: 17px;
      letter-spacing: 1.4px;
      margin: 8px 10px 8px 0;
      color: white;
    }

    .activity-state {
      width: 8px; height: 8px;
    }

    .location {
      font-size: 17px;
      letter-spacing: 1.4px;
      color: rgba(255, 255, 255, 0.4);
      text-transform: none;
      margin: 0;
    }

    // Hide arrow and badge count
    // on mobile
    .mc-arrow-thin-white--down,
    .comment-count { display: none; }
  }

  #nav-primary {
    background: black;
    min-height: 34px;
    z-index: 3;
    transform: translate3d(0,0 ,0); // fix "jump"
  }

  // User container for things like
  // My Classes, notifications, hub link, profile
  // settings, etc.
  #user-info-container {
    background: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease;
    z-index: 2;
  }

  .user-info-dropdown-items {
    height: calc(100vh - 139px);
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateY(-100%);

    .user-info-dropdown-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .item-link {
      display: block;
      padding: 20px 16px;
      font-size: 17px;
      letter-spacing: 1px;
      text-transform: none;
    }

    .helper-text {
      float: right;
      color: rgba(255, 255, 255, 0.4);
    }

    .mc-badge {
      font-size: 17px;
      float: right;
      transform: translateY(-5px);
    }

    .sign-out {
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      padding: 32px 16px;
    }
  }

  .mc-explore-subnav {
    background: #222;
    min-height: 40px;
  }

  .mc-explore-subnav-items {
    text-align: left;
  }

  .mc-explore-subnav-container {
    position: relative;
  }

  .mc-explore-active-underline {
    display: none;
  }

   .mc-explore-subnav-items {
    text-transform: none;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.9);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: opacity 250ms ease, visibility 0ms 250ms;
    }

    &.nav-open {
      &:before {
        opacity: 1;
        visibility: visible;
        transition: opacity 250ms ease, visibility 0ms 0ms;
      }

      .mc-explore-subnav-item:not(.explore) {
        display: block;

        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            opacity: 0;
            @include mc-animate-fade-in();
            animation-delay: #{$i} * 100ms;
          }
        }
      }

      .explore .mc-arrow-thin-white--down {
        transform: rotate(180deg);
      }
    }

    a {
      display: block;
      letter-spacing: 1px;
      padding: 24px 33px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mc-explore-subnav-item {
      display: none;

      &.explore {
        display: block;
        padding: 10px 20px 14px;
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
      }

      .mc-arrow-thin-white--down {
        display: inline-block;
        margin: -2px 0 0 8px;
      }
    }
  }

  @media (min-width: $mc-bp-small) {
    // Left section of the nav
    .mc-nav-class-link {
      position: absolute;
      top: 11px; left: 8px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.5px;

      .mc-arrow-thin-red--left { margin-right: 15px; }
      .mc-arrow-thin-red--right { margin: -2px 15px 0px; }

      // Breadcrumb style
      &.breadcrumbs {
        a {
          color: rgba(255, 255, 255, 0.5);
          transition: color 250ms ease;

          &:hover {
          color: rgba(255, 255, 255, 0.75);
          }
        }

        .instructor-name { color: white; }
      }
    }

    #logo-wordmark {
      position: absolute;
      top: 10px; left: 50%;
      display: block;
      margin: 0;
      transform: translate(-50%, 0);
    }

    .student-info-block {
      display: block;
      position: absolute;
      top: 0px; right: 0px;
      padding: 7px 8px;
      cursor: pointer;

      .avatar {
        width: 20px;
        height: 20px;
        margin: 0;
        border-radius: 0;
      }

      .username {
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0 10px;
      }

      .activity-state {
        width: 6px; height: 6px;
      }

      .location { display: none; }

      .comment-count {
        display: inline-block;
        margin: 0 2px 0 10px;
      }

      .mc-arrow-thin-white--down {
        display: inline-block;
        margin-left: 6px;
      }
    }

    .student-info-blurb { padding: 0; }

    // When transitioning from mobile to desktop
    // if nav is opened on mobile, reset
    // desktop user and class nav
    &.nav-open {
      background: none; // NEEDED
      height: auto;
      overflow: visible;

      #user-info-container { height: auto; }
      .user-info-dropdown-items { transform: translateY(-100%); }
      .mc-explore-subnav-items { display: block; }

      .mc-explore-subnav {
        display: block;
      }
    }

    // Explore nav specifically
    .mc-explore-subnav-items.nav-open:before { display: none; }

    // Activate subnav
    &.student-info-block-open {
      .user-info-dropdown-items {
        transform: translateY(0%);
        pointer-events: auto;
      }

      .student-info-block  .mc-arrow-thin-white--down {
        transform: rotate(180deg);
      }
    }

    #user-info-container {
      min-height: 0;
      overflow: visible;

      &.log-out-hovered {
        .item-link { opacity: 0.5; }
        .item-link.sign-out {
          color: #fff;
          opacity: 1;
        }
      }
    }

    .user-info-dropdown-items {
      position: absolute;
      top: 0; right: 0;
      width: 260px; height: auto;
      background: black;
      border: 1px solid rgba(255, 255, 255, 0.1);
      pointer-events: none;
      transform: translateY(-100%);
      transition: transform 350ms ease;

      .mc-badge {
        transition: transform 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
      }

      .user-info-dropdown-item {
        // Bottom border taken care of by
        // parent wrapper
        &:last-child { border-bottom: 0; }

        &:hover {
          .item-link:not(.sign-out) { padding-left: 24px; }

          .helper-text {
            color: rgba(255, 255, 255, 0.4);
          }

          .mc-badge {
            transform: scale(1.1) translateY(-5px);
          }
        }
      }

      .item-link {
        transition:
          padding 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000),
          opacity 300ms ease;
      }

      .mc-badge {
        transform: translateY(-5px);
        font-size: 14px;
      }

      .item-link {
        font-size: 14px;
      }

      .helper-text {
        color: rgba(255, 255, 255, 0.0);
        transition: color 250ms ease;
      }

      .sign-out {
        position: static;
        padding: 15px 16px;
      }
    }
  }

  @media (min-width: $mc-bp-medium) {
    .mc-explore-active-underline {
       display: block;
       position: absolute;
       z-index: 1;
       bottom: 0; left: 0;
       height: 3px;
       background: $mc-color-accent-primary;
       transform: translateX(0);
       transition: transform 300ms ease, width 400ms;
     }

     .mc-explore-subnav {
       text-align: center;
     }

     .mc-explore-subnav-container {
       display: inline-block;
     }

    .mc-explore-subnav-items:not(.explore) {
      text-align: center;
      display: inline-block;

      // override block on mobile
      &.nav-open {
        .mc-explore-subnav-item {
          display: inline-block;
        }
      }

      .mc-explore-subnav-item {
        display: inline-block;
        vertical-align: middle;

        &.explore { display: none; }
        &:last-child a {
          margin-right: 0;
        }

        a {
          font-size: 12px;
          letter-spacing: 1.5px;
          font-weight: 600;
          text-transform: uppercase;
          margin-right: 100px;
          padding: 13px 0 12px;
          color: rgba(255, 255, 255, 0.5);
          border: 0; // reset mobile border
          border-bottom: 3px solid transparent;
          transition: border 200ms ease, color 200ms ease;

          &.active {
            color: white;
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
