// This css file is only used for the style
// guide page.  It is NOT included in the compiled
// core.css file that will be implemented in our
// platform.

@import "../components/variables";
@import "../components/mixins";

$default-padding: 30px;

#mc-style-guide {
    background: #F5F5F5;
    padding: $default-padding;
    padding-left: 250px + $default-padding;

    #style-guide-logo {
        display: block;
        margin: 0 auto 1em;
    }

    #sidebar {
        background: #000000;
        color: #fff;
        position: fixed;
        top: 0; left: 0;
        width: 250px;
        height: 100%;
        padding: 1.5em;
        text-transform: uppercase;

        a {
            color: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            transition: color 250ms ease;
        }

        .sidebar-nav-items {
            .sidebar-nav-item {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.2225em;
                border-top: 1px solid rgba(255, 255, 255, 0.1);

                a {
                    display: block;
                    padding: 2em 0;

                    &:hover {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    &.active {
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }

    }

    #main {
        background: #fff;
        padding: 0 2.5em;
        border: 1px solid #D3DBE3;
    }

    // Type
    h1, h2, h3, h4, h5 {
        margin: 0 0 0.25em 0;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.222em;
    }

    .primary-title {
        font-size: 32px;
    }

    .section-title {
        font-size: 18px;
    }

    .section-subtitle {
        font-size: 16px;
        margin-bottom: 0.5em;
    }

    p {
        max-width: 750px;
        font-size: 16px;
        line-height: 1.4;
    }

    strong { font-weight: bold; }

    code,
    .code-render {
        &:after {
            position: absolute;
            top: 0; right: 0;
            padding: 0.5em 1em;
            content: "Code";
            text-transform: uppercase;
            font-family: monospace;
            font-size: 11px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: bold;
        }
    }

    code {
        position: relative;
        display: block;
        background: #f1f1f1;
        border: 1px solid #ccc;
        margin: 1em 0;
        padding: 0.75em 1.25em;
        font-family: monospace;
        line-height: 1.4;
    }

    .code-render {
        position: relative;
        background: rgba(255, 255, 255, 1);
        padding: 1em;
        border: 1px solid #ccc;

        &:after { content: "Rendering"; }

        &.inverted {
            background: $mc-color-bg-fallback;

            &:after { color: rgba(255, 255, 255, 0.5); }
        }
    }

    // Structure
    .section {
        padding: 45px 0;
        border-bottom: 1px solid #E8EDF2;
    }

    .subsection {
        margin: 40px 0 0;
        padding: 0 0 0 1.5em;
        border-left: 4px solid #E8EDF2;
    }

    .mc-color-cards-groups {
        margin: 1em 0;

        .mc-color-cards-group {
            display: inline-block;
            vertical-align: top;
            margin: 1em 2em 1em 0;

            .mc-color-group-title {
                font-size: 10px;
                color: #7E8997;
                letter-spacing: 0.12em;
            }
        }
    }

    .mc-color-cards {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #D3DBE3;
        margin: 0.3em 0 0.5em;
        padding: 0 0.5em;
        @include clearfix();

        .mc-color-card {
            display: block;
            float: left;
            margin: 0.5em 0;

            .mc-color-swatch {
                display: block;
                width: auto;
                height: 80px;
                margin-bottom: 5px;

                &.white {
                    border: 1px solid #D3DBE3;
                }
            }

            .mc-color-description {
                padding: 0 1.5em 0 0; // give the text room to breathe
            }

            .mc-color-variable {
                display: block;
                font-size: 14px;
            }

            .mc-color-value {
                display: block;
                font-size: 11px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}