<div class="hub-block">
    <h2> The Hub </h2>
    <h3 id="hub-block-title">Student Community</h3>

    <div class="hub-links">
        <div class="hub-latest-topics">
            <p class="hub-section-title">Latest Topics</p>
            <ul class="with-border">
                <li>
                    <a class="hub-topic-title condensed" href="https://community.masterclass.com/t/what-the-kids-are-into" rel="nofollow" target="_blank">What the kids are into</a>
                    <span class="hub-topic-replies"><!-- react-text: 13 -->- <!-- /react-text --><!-- react-text: 14 -->2<!-- /react-text --><!-- react-text: 15 --> replies<!-- /react-text --></span>
                </li>
                <li>
                    <a class="hub-topic-title condensed" href="https://community.masterclass.com/t/is-anyone-else-interested-in-comedy-writing-in-readable-form" rel="nofollow" target="_blank">Is anyone else interested in comedy writing in readable form?</a>
                    <span class="hub-topic-replies"><!-- react-text: 19 -->- <!-- /react-text --><!-- react-text: 20 -->82<!-- /react-text --><!-- react-text: 21 --> replies<!-- /react-text --></span>
                </li>
                <li>
                    <a class="hub-topic-title condensed" href="https://community.masterclass.com/t/central-ca-atwater-merced" rel="nofollow" target="_blank">Central CA (Atwater/Merced)</a>
                    <span class="hub-topic-replies"><!-- react-text: 25 -->- <!-- /react-text --><!-- react-text: 26 -->1<!-- /react-text --><!-- react-text: 27 --> replies<!-- /react-text --></span>
                </li>
                <li>
                    <a class="hub-topic-title condensed" href="https://community.masterclass.com/t/the-filmmakers-group-directors-and-screenwriters-of-comedy" rel="nofollow" target="_blank">The Filmmaker's Group (Directors and Screenwriters of Comedy)</a>
                    <span class="hub-topic-replies"><!-- react-text: 31 -->- <!-- /react-text --><!-- react-text: 32 -->23<!-- /react-text --><!-- react-text: 33 --> replies<!-- /react-text --></span>
                </li>
            </ul>
        </div>

        <div class="hub-top-topics">
            <p class="hub-section-title">Most Popular Topics</p>
            <ul class="without-border">
                <li>
                    <a class="hub-topic-title" href="https://community.masterclass.com/t/pre-class-homework-wikipedia-roulette" rel="nofollow" target="_blank">Pre-Class Homework - Wikipedia Roulette</a>
                </li>
                <li>
                    <a class="hub-topic-title" href="https://community.masterclass.com/t/is-anyone-else-interested-in-comedy-writing-in-readable-form" rel="nofollow" target="_blank">Is anyone else interested in comedy writing in readable form?</a>
                </li>
                <li>
                    <a class="hub-topic-title" href="https://community.masterclass.com/t/standing-desk-bit-which-parts-make-you-laugh" rel="nofollow" target="_blank">Standing Desk bit - Which parts make you laugh?</a>
                </li>
                <li>
                    <a class="hub-topic-title" href="https://community.masterclass.com/t/what-is-your-favorite-one-liner-or-joke-from-a-stand-up-comic-that-you-just-love" rel="nofollow" target="_blank">What is your favorite one-liner or joke from a stand-up comic that you just LOVE?</a>
                </li>
            </ul>
        </div>

        <a class="mc-btn visit-the-hub" href="https://community.masterclass.com/c/steve-martin-teaches-comedy" rel="nofollow" target="_blank">Visit the Hub</a>
    </div>
</div>