<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <!-- Sharing -->
  <meta property="og:url" content=""/>
  <meta property="og:title" content=""/>
  <meta property="og:type" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:description" content=""/>

  <title>Title</title>

  <!-- Google fonts -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,200,600|Lato:300,400" media="screen" rel="stylesheet" type="text/css" />


  <!-- Compiled output -->
  <link href="css/core.css" media="screen" rel="stylesheet" type="text/css" />
</head>