// This css file is only used for the style
// guide page.  It is NOT included in the compiled
// core.css file that will be implemented in our
// platform.

@import "variables";
@import "mixins";

$default-padding: 30px;


#mc-style-guide {
    padding: $default-padding;
    padding-left: 300px + $default-padding;

    #sidebar {
        background: #f1f1f1;
        position: fixed;
        top: 0; left: 0;
        width: 300px;
        height: 100%;
        padding: 1em;
        border-right: 1px solid #ccc;
    }

    // Type
    h1, h2, h3, h4, h5 {
        font-weight: bold;
        margin: 0 0 0.25em 0;
    }
    .primary-title { font-size: 32px; }

    .section-title { font-size: 25px; }

    .section-subtitle {
        font-size: 18px;
    }

    p {
        font-size: 16px;
        line-height: 1.4;
    }

    strong { font-weight: bold; }

    code,
    .code-render {
        &:after {
            position: absolute;
            top: 0; right: 0;
            padding: 0.5em 1em;
            content: "Code";
            text-transform: uppercase;
            font-family: monospace;
            font-size: 11px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: bold;
        }
    }

    code {
        position: relative;
        display: block;
        background: #f1f1f1;
        border: 1px solid #ccc;
        margin: 1em 0;
        padding: 0.75em 1.25em;
        font-family: monospace;
        line-height: 1.4;
    }

    .code-render {
        position: relative;
        background: rgba(255, 255, 255, 1);
        padding: 1em;
        border: 1px solid #ccc;

        &:after { content: "Rendering"; }

        &.inverted {
            background: $mc-color-bg-fallback;

            &:after { color: rgba(255, 255, 255, 0.5); }
        }
    }

    // Structure
    .section {
        margin: 40px 0 75px;
        max-width: 800px;
    }

    .subsection {
        margin: 15px 0;
        padding: 2em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    }

    .mc-color-cards {
        @include clearfix();

        .mc-color-card {
            display: block;
            width: 32%;
            float: left;
            margin: 1em 0 1em 2%;
            padding: 0.5em;
            border: 1px solid #ccc;

            &:nth-child(3n+1) {
                clear: both;
                margin-left: 0;
            }

            .mc-color-swatch {
                display: block;
                width: 100%;
                height: 100px;
                margin-bottom: 5px;
                border: 1px solid #ccc;
            }

            .mc-color-description {
            }

            .mc-color-variable {
                display: block;
                font-size: 14px;
            }

            .mc-color-value {
                display: block;
                font-size: 11px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}