@import "variables";
@import "reset";

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

body {
    font-family: $site-font-body;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    font-family: $site-font-headings;
}

@media (min-width: $mc-bp-tiny) {}
@media (min-width: $mc-bp-small) {}
@media (min-width: $mc-bp-medium) {}
@media (min-width: $mc-bp-large) {}
@media (min-width: $mc-bp-full) {}